@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


nav{
    display: flex;
    width: 100%;
    background: #333;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
nav .icon{
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    border: white 4px solid;
    padding: 4px;
}

nav .search_box{
    display: flex;
    margin: 15px 550px 10px 20px;
    height: 35px;
    line-height: 35px;  
}

#question{
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 600px;

}

.question{
    margin: 45px 10px 45px 200px;
}

.title{
    font-weight:bolder;
}

.question.quesBody{
    font-weight: lighter;

}

#but{
      background-color: aquamarine;
      height: 25px;
      width: 60px;
      font-weight: bolder;
      color: black;
}